
@{
    ViewBag.Title = "Geocoding API";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h1>Google Maps Geocoding API</h1>

<p>
    Geocodificação é o processo de conversão de endereços (como "1600 Amphitheatre Parkway, Mountain View, CA") em coordenadas geográficas (como latitude 37.423021 e longitude -122.083739) que podem ser usadas para inserir marcadores em um mapa ou posicionar o mapa.<br /><br />
    A Google Maps Geocoding API oferece uma maneira direta de acessar esses serviços por meio de uma solicitação HTTP.
</p>
<br />
<p>
    <strong>Para saber mais acesse:</strong> <a href="https://developers.google.com/maps/documentation/geocoding/intro" target="_blank">https://developers.google.com/maps/documentation/geocoding/intro</a>
</p>

