
@{
    ViewBag.Title = "HG Weather API";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h1>HG Weather API</h1>

<p>
    A HG Weather API é um serviço que retorna informações sobre previsão do tempo de acordo com a cidade pesquisada.<br /><br />
    A HG Brasil oferece uma maneira direta de acessar esses serviços por meio de uma solicitação HTTP.
</p>
<br />
<p>
    <strong>Para saber mais acesse:</strong> <a href="http://hgbrasil.com/status/weather/" target="_blank">http://hgbrasil.com/status/weather/</a>
</p>

