
@{
    ViewBag.Title = "Places API";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h1>Google Places API Web Service</h1>

<p>
    A Google Places API Web Service é um serviço que retorna informações sobre locais — definidos nessa API como estabelecimentos, localizações geográficas ou pontos de interesse proeminentes — usando solicitações HTTP.
</p>
<br />
<p>
    <strong>Para saber mais acesse:</strong> <a href="https://developers.google.com/places/web-service/intro?hl=pt-br" target="_blank">https://developers.google.com/places/web-service/intro?hl=pt-br</a>
</p>