
@{
    ViewBag.Title = "Sobre o Projeto";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<h1>Sobre o Projeto</h1>

<p class="p-b-1">Projeto desenvolvido por:</p>

<p>
    <strong>
        Faculdade Metrocamp<br />
        Curso de Pós Graduação em Engenharia de Software<br />
        Turma SOA 39
    </strong>
</p>

<p>&nbsp;</p>

<p>Alunos:</p>

<p>
    <table class="table sobre">
        <tr>
            <td class="col-lg-2 p-t-2 p-b-2">
                <img src="~/Content/Images/alecsandro.jpg" />
            </td>
            <td class="col-lg-10 p-t-2 p-b-2">
                <strong>Alecsandro Rocha</strong><br />
                lekao2009@gmail.com
            </td>
        </tr>
        <tr>
            <td class="p-t-2 p-b-2">
                <img src="~/Content/Images/ederson.jpg" />
            </td>
            <td>
                <strong>Ederson Furlan</strong><br />
                edersonmello@msn.com
            </td>
        </tr>
        <tr>
            <td class="p-t-2 p-b-2">
                <img src="~/Content/Images/fabricio.jpg" />
            </td>
            <td>
                <strong>Fabrício Vieira</strong><br />
                fabricio_13@hotmail.com
            </td>
        </tr>
        <tr>
            <td class="p-t-2 p-b-2">
                <img src="~/Content/Images/frank.jpg" />
            </td>
            <td>
                <strong>Francisco Fernandes</strong><br />
                frankffernandes@gmail.com
            </td>
        </tr>
        <tr>
            <td class="p-t-2 p-b-2">
                <img src="~/Content/Images/roberto.jpg" />
            </td>
            <td>
                <strong>Roberto Pavani</strong><br />
                robertopf20@gmail.com
            </td>
        </tr>
    </table>    
</p>